.blog-list-item {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(159, 173, 255);
  border-radius: 1em;
  background-color: rgba(159, 173, 255, .5);
  margin: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  padding-top: 0;
}