.burger {
  display: none;
}

@media (max-width: 700px){
  .burger {
    z-index: 100;
    position: fixed;
    top: .5em;
    right: 1em;
    display: block;
    // background-color: rgb(75, 75, 75);
  }
  .burger button {
    outline-style: none;
  }
  .burger div {
    background-color:whitesmoke;
    width: 2em;
    height: .25em;
    margin-top: .3em;
    border-radius: 10px;

  }
}