.nav-link {
  // padding-top: .1em;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: .2em;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgb(75, 75, 75);
    border-style: solid;
    border-color : #38b6ff;
  }
}